.add-region-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1068px;
    width: 100%;
    
    position: absolute;
    top: 5;
    left: 0;
    
    z-index: 100;
    overflow: hidden;
    }

.add-region-bg {
    position: relative;
    max-height: 1068px;
    min-height: 1068px;
    max-width: 1700px;
    min-width: 1700px;
    background-color: #000000c6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.add-region-content {
    width: 600px;
    height: 410px;
}

.add-region-title {
    background-color: #253E5B;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.add-region-title button {
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}



.add-region-title button:hover {
    color: #500015;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

.add-region-input {
    background-color: #c0c0c0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-region-input input {
    width: 60%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #253E5B;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

.add-region-input textarea {
    max-width: 60%;
    min-width: 60%;
    max-height: 70%;
    min-height: 70%;
    border: none;
    border-bottom: 1px solid #253E5B;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 10px;
}

.add-region-input button {
    width: 25%;
    height: 40px;
    border: none;
    background-color: #253E5B;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.add-region-input button:hover {
    width: 25%;
    height: 40px;
    border: none;
    background-color: #707070;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;

}